In [11]:
from pykrx import stock

In [18]:
# KOSPI/KOSDAQ/KONEX 종목코드 조회
stock_code = stock.get_market_ticker_list(date="20220513", market="KOSDAQ")
(stock_code[:6], len(stock_code))

(['060310', '054620', '265520', '211270', '032790', '013720'], 1557)

In [19]:
df = stock.get_market_ohlcv_by_ticker(date="20150701", market="KOSDAQ")

In [20]:
df

            시가      고가      저가      종가     거래량         거래대금   등락률
티커
060310    2510    2725    2485    2670  456176   1193349750  5.33
054620    9190    9270    9050    9050  303698   2771482510 -0.22
090470    3620    3790    3600    3760   82468    306602720  3.87
032040    7350    7760    7300    7700  457004   3427569150  3.63
130960   78700   80200   76500   77800  417858  32566320800 -0.64
...        ...     ...     ...     ...     ...          ...   ...
065510   20850   21400   20850   21050  242196   5098936200  0.24
084110  112100  112500  107800  108900  116922  12784985800 -0.64
024060    2850    2885    2800    2830  127589    361173705  0.53
010240    4670    4855    4670    4840   37376    179539805  2.98
037440    4250    4285    4200    4250   18379     77935200  0.00

[1088 rows x 7 columns]

In [22]:
list=[]

for i in range(len(df)):
    if df['등락률'][i] > 20:
        list.append(df.index[i])

In [23]:
list

['058820',
 '021045',
 '084650',
 '078780',
 '041910',
 '014940',
 '065500',
 '052420',
 '064090']