In [1]:
! pip install progressbar2

Requirement already satisfied: progressbar2 in c:\users\jiyun\anaconda3\lib\site-packages (3.38.0)
Requirement already satisfied: python-utils>=2.3.0 in c:\users\jiyun\anaconda3\lib\site-packages (from progressbar2) (2.3.0)
Requirement already satisfied: six in c:\users\jiyun\anaconda3\lib\site-packages (from progressbar2) (1.11.0)

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import json
import time
# from progressbar import progressbar
from tqdm import tqdm
from datetime import datetime, timedelta

## 종목별 주요 지표 찾기

* http://finance.naver.com/sise/sise_market_sum.nhn 사이트 접속


* 원하는 항목 선택 후 해당 항목을 부를 수 있는 주소 추출하기

In [3]:
url = 'http://finance.naver.com/sise/field_submit.nhn'

In [4]:
params = {
    'menu': 'market_sum',
    'returnUrl': 'http://finance.naver.com/sise/sise_market_sum.nhn?&page=3',
    'fieldIds': ['quant','per','roe','pbr','dividend','market_sum', 'operating_profit_increasing_rate']
}

In [5]:
res = requests.get(url, params=params)

In [6]:
df = pd.read_html(res.text)[1]
df

,N,종목명,현재가,전일비,등락률,액면가,거래량,시가총액,보통주배당금,영업이익증가율,PER,ROE,PBR,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101.0,GS건설,23800.0,100.0,+0.42%,5000.0,275343.0,19063.0,1000.0,-27.92,4.29,11.79,0.48,NaN
2,102.0,NHN,92500.0,3400.0,-3.55%,500.0,277986.0,18098.0,NaN,26.28,146.59,0.78,1.09,NaN
3,103.0,한미사이언스,27200.0,200.0,-0.73%,500.0,161799.0,17955.0,196.0,45.24,58.37,4.73,2.72,NaN
4,104.0,KODEX 단기채권,102285.0,5.0,0.00%,0.0,16792.0,17934.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,149.0,두산인프라코어,5410.0,610.0,+12.71%,5000.0,38445386.0,11262.0,NaN,-0.91,4.69,11.59,0.51,NaN
77,150.0,이노션,56100.0,200.0,-0.36%,500.0,34779.0,11220.0,1500.0,3.10,15.24,9.88,1.47,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['배당수익률'] = (df['보통주배당금']/df['현재가'])*100

In [8]:
df.columns

Index(['N', '종목명', '현재가', '전일비', '등락률', '액면가', '거래량', '시가총액', '보통주배당금',
       '영업이익증가율', 'PER', 'ROE', 'PBR', '토론실', '배당수익률'],
      dtype='object')

In [9]:
df[['종목명','시가총액', 'PER', 'PBR', 'ROE', '배당수익률', '영업이익증가율']]

           종목명     시가총액     PER   PBR    ROE     배당수익률  영업이익증가율
0          NaN      NaN     NaN   NaN    NaN       NaN      NaN
1         GS건설  19063.0    4.29  0.48  11.79  4.201681   -27.92
2          NHN  18098.0  146.59  1.09   0.78       NaN    26.28
3       한미사이언스  17955.0   58.37  2.72   4.73  0.720588    45.24
4   KODEX 단기채권  17934.0     NaN   NaN    NaN       NaN      NaN
..         ...      ...     ...   ...    ...       ...      ...
76     두산인프라코어  11262.0    4.69  0.51  11.59       NaN    -0.91
77         이노션  11220.0   15.24  1.47   9.88  2.673797     3.10
78         NaN      NaN     NaN   NaN    NaN       NaN      NaN
79         NaN      NaN     NaN   NaN    NaN       NaN      NaN
80         NaN      NaN     NaN   NaN    NaN       NaN      NaN

[81 rows x 7 columns]

# 다수 종목 데이터 가져오기

#### KOSPI 가져오기

In [10]:
result_df = pd.DataFrame() # 빈 프레임 만들기

for i in tqdm(range(1, 20)) :
    url = 'http://finance.naver.com/sise/field_submit.nhn'
    params = {
            'menu': 'market_sum',
            'returnUrl': 'http://finance.naver.com/sise/sise_market_sum.nhn?&page='+str(i),
            'fieldIds': ['quant','per','roe','pbr','dividend','market_sum', 'operating_profit_increasing_rate']
        }
    
    res = requests.get(url, params = params)
    df = pd.read_html(res.text)[1]
    df['배당수익률'] = (df['보통주배당금']/df['현재가'])*100
    df['시장'] = 'KOSPI'
    
    result_df = result_df.append(df[['종목명', '시가총액', '시장', 'PER', 'PBR', 'ROE', '배당수익률', '영업이익증가율']])

100%|██████████████████████████████████████████████████████████████████████████████████| 19/19 [00:06<00:00,  2.79it/s]

In [11]:
result_df = result_df.dropna()

In [13]:
result_df

       종목명       시가총액     시장    PER    PBR     ROE      배당수익률  영업이익증가율
1     삼성전자  2856541.0  KOSPI  15.11   1.28    8.69   2.959248   -52.84
2   SK하이닉스   596234.0  KOSPI  29.62   1.17    4.25   1.221001   -86.99
4    NAVER   349881.0  KOSPI  60.20   5.34   10.56   0.176526   -24.66
9     셀트리온   292988.0  KOSPI  98.37  10.40   11.19   0.022069    11.62
10    LG화학   244602.0  KOSPI  86.56   1.56    1.84   0.577201   -60.12
..     ...        ...    ...    ...    ...     ...        ...      ...
41  바다로19호      394.0  KOSPI   7.25   0.88   12.05  13.564547     5.41
44  SJM홀딩스      388.0  KOSPI   7.89   0.23    3.32   6.743738   253.74
49   KR모터스      386.0  KOSPI  -0.95   2.08 -113.29   0.000000   -51.63
50      원림      383.0  KOSPI  12.91   0.38    3.33   1.436782   111.58
75   케이탑리츠      350.0  KOSPI   6.42   0.51    8.22   6.464380    45.07

[554 rows x 8 columns]

In [14]:
result_df.shape

(554, 8)

#### 코스닥 더해서 추가하기

코스닥을 선택했을 경우 주소는?

In [15]:
for i in tqdm(range(1, 28)) :
    url = 'http://finance.naver.com/sise/field_submit.nhn'
    params = {
            'menu': 'market_sum',
            'returnUrl': 'http://finance.naver.com/sise/sise_market_sum.nhn?sosok=1&page='+str(i),
            'fieldIds': ['quant','per','roe','pbr','dividend','market_sum', 'operating_profit_increasing_rate']
        }
    
    res = requests.get(url, params = params)
    df = pd.read_html(res.text)[1]
    df['배당수익률'] = (df['보통주배당금']/df['현재가'])*100
    df['시장'] = 'KOSDAQ'
    
    result_df = result_df.append(df[['종목명', '시가총액', '시장', 'PER', 'PBR', 'ROE', '배당수익률', '영업이익증가율']])

100%|██████████████████████████████████████████████████████████████████████████████████| 27/27 [00:09<00:00,  2.95it/s]

In [16]:
result_df

        종목명       시가총액      시장     PER    PBR    ROE     배당수익률  영업이익증가율
1      삼성전자  2856541.0   KOSPI   15.11   1.28   8.69  2.959248   -52.84
2    SK하이닉스   596234.0   KOSPI   29.62   1.17   4.25  1.221001   -86.99
4     NAVER   349881.0   KOSPI   60.20   5.34  10.56  0.176526   -24.66
9      셀트리온   292988.0   KOSPI   98.37  10.40  11.19  0.022069    11.62
10     LG화학   244602.0   KOSPI   86.56   1.56   1.84  0.577201   -60.12
..      ...        ...     ...     ...    ...    ...       ...      ...
76     유아이디      125.0  KOSDAQ     NaN   0.75    NaN       NaN      NaN
77  신한제4호스팩      124.0  KOSDAQ  102.75   1.11   1.11  0.000000    -7.87
78      NaN        NaN  KOSDAQ     NaN    NaN    NaN       NaN      NaN
79      NaN        NaN  KOSDAQ     NaN    NaN    NaN       NaN      NaN
80      NaN        NaN  KOSDAQ     NaN    NaN    NaN       NaN      NaN

[2741 rows x 8 columns]

### 불러온 DataFrame의 특성 파악하기

In [17]:
result_df.shape

(2741, 8)

### 회사명이 NaN인 종목 지우기

In [18]:
result_df = result_df[result_df['종목명'].isnull() == False]

In [19]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1904 entries, 1 to 77
Data columns (total 8 columns):
종목명        1904 non-null object
시가총액       1904 non-null float64
시장         1904 non-null object
PER        1787 non-null float64
PBR        1890 non-null float64
ROE        1844 non-null float64
배당수익률      1355 non-null float64
영업이익증가율    1844 non-null float64
dtypes: float64(6), object(2)
memory usage: 133.9+ KB

In [20]:
result_df.isnull().sum()

종목명          0
시가총액         0
시장           0
PER        117
PBR         14
ROE         60
배당수익률      549
영업이익증가율     60
dtype: int64

### 작업을 위한 DataFrame 복제하기

In [21]:
working_data = result_df.copy()

### ETF, SPAC, ETN 등 분석대상 제외하기

해당 종목을 나타내는 키워드를 찾으시고 제외하는 방법을 찾아보세요

In [22]:
working_data[working_data['종목명'].str.contains('TIGER|스팩|ETN|KBSTAR|KODEX|SMART')]

           종목명   시가총액      시장     PER   PBR   ROE  배당수익률  영업이익증가율
37   하나금융11호스팩  187.0  KOSDAQ  230.67  1.89  0.81    0.0   -70.45
45   엔에이치스팩14호  173.0  KOSDAQ     NaN  1.03   NaN    NaN      NaN
53   케이비제18호스팩  157.0  KOSDAQ     NaN  1.03   NaN    NaN      NaN
57   엔에이치스팩12호  155.0  KOSDAQ  103.50  1.09  1.04    0.0    -5.09
58      삼성스팩2호  153.0  KOSDAQ   92.05  1.08  1.17    NaN     8.71
61    유안타제6호스팩  137.0  KOSDAQ     NaN  1.03   NaN    NaN      NaN
67   엔에이치스팩15호  131.0  KOSDAQ     NaN  1.04   NaN    0.0      NaN
68  미래에셋대우스팩3호  131.0  KOSDAQ     NaN  1.04   NaN    NaN      NaN
73   케이비제20호스팩  130.0  KOSDAQ     NaN  1.70   NaN    NaN      NaN
74   한화에스비아이스팩  128.0  KOSDAQ  267.27  1.58   NaN    NaN      NaN
77     신한제4호스팩  124.0  KOSDAQ  102.75  1.11  1.11    0.0    -7.87

### 제외된 최종 DataFrame 만들기

In [23]:
final_data = working_data[working_data['종목명'].str.contains('TIGER|스팩|ETN|KBSTAR|KODEX|SMART') == False]
len(final_data)

1893

In [24]:
#final_data.to_csv('종목현황.csv', encoding='euckr')

### KOSPI 종목 중 PER 15배 미만, ROE 8% 이상 PBR 1.5 배 미만 종목을 추출해 보세요

In [25]:
final_data[(final_data['PER']<15) & (final_data['ROE']<8) & (final_data['PBR']<1.5)]

       종목명      시가총액      시장    PER   PBR     ROE     배당수익률  영업이익증가율
13     현대차  197216.0   KOSPI   8.58  0.34    4.32  4.333694    48.86
20   현대모비스  163969.0   KOSPI   7.23  0.50    7.28  2.318841    16.51
25   POSCO  146474.0   KOSPI   7.98  0.30    4.18  5.952381   -30.20
34     기아차  117961.0   KOSPI   6.46  0.40    6.50  3.951890    73.63
35      LG  107848.0   KOSPI  10.18  0.58    5.87  3.520000   -43.77
..     ...       ...     ...    ...   ...     ...       ...      ...
60  에스앤더블류     141.0  KOSDAQ  -5.13  0.36   -6.79       NaN    73.48
65   이에스에이     135.0  KOSDAQ  -0.38  0.38  -69.15  0.000000    -8.41
66   파티게임즈     131.0  KOSDAQ  10.94  0.30    2.76       NaN   515.98
69      세동     130.0  KOSDAQ  -5.79  0.69  -11.05       NaN    49.25
75   미래SCI     125.0  KOSDAQ  -0.48  0.74 -102.20       NaN   -39.78

[529 rows x 8 columns]

In [26]:
condition = (final_data['PER']<15) &\
            (final_data['ROE']<8) & \
            (final_data['PBR']<1.5)

In [27]:
final_data[condition]

       종목명      시가총액      시장    PER   PBR     ROE     배당수익률  영업이익증가율
13     현대차  197216.0   KOSPI   8.58  0.34    4.32  4.333694    48.86
20   현대모비스  163969.0   KOSPI   7.23  0.50    7.28  2.318841    16.51
25   POSCO  146474.0   KOSPI   7.98  0.30    4.18  5.952381   -30.20
34     기아차  117961.0   KOSPI   6.46  0.40    6.50  3.951890    73.63
35      LG  107848.0   KOSPI  10.18  0.58    5.87  3.520000   -43.77
..     ...       ...     ...    ...   ...     ...       ...      ...
60  에스앤더블류     141.0  KOSDAQ  -5.13  0.36   -6.79       NaN    73.48
65   이에스에이     135.0  KOSDAQ  -0.38  0.38  -69.15  0.000000    -8.41
66   파티게임즈     131.0  KOSDAQ  10.94  0.30    2.76       NaN   515.98
69      세동     130.0  KOSDAQ  -5.79  0.69  -11.05       NaN    49.25
75   미래SCI     125.0  KOSDAQ  -0.48  0.74 -102.20       NaN   -39.78

[529 rows x 8 columns]