#### 전통퀀트투자 전략
---
- 정량적 방법론을 기반으로 투자 의사를 결정
    - 평균 회귀
        - 볼린저 밴드 : 현재 주가가 상대적으로 높은지 낮은지 판단할 때 사용하는 지표
    - 이동평균선
    - 상대 강도 지수
    - 스토캐스틱 오실레이터

In [20]:
# 평균 회귀 전략

import pandas as pd
import numpy as np
import FinanceDataReader as fdr

# 데이터 수집

df = fdr.DataReader('SPY', '2022') # SPY : S&P를 추종하는 ETF 지수
df

             Close    Open    High     Low       Volume  Change
Date
2022-01-03  477.71  476.30  477.85  473.85   71510000.0  0.0058
2022-01-04  477.55  479.22  479.98  475.58   68190000.0 -0.0003
2022-01-05  468.38  477.16  477.98  468.28  100640000.0 -0.0192
2022-01-06  467.94  467.89  470.82  465.43   85720000.0 -0.0009
2022-01-07  466.09  467.95  469.20  464.65   85110000.0 -0.0040
...            ...     ...     ...     ...          ...     ...
2022-05-02  414.48  412.07  415.92  405.02  156910000.0  0.0060
2022-05-03  416.38  415.01  418.93  413.36  100030000.0  0.0046
2022-05-04  429.06  417.06  429.63  413.76  141110000.0  0.0305
2022-05-05  413.81  424.48  424.58  409.46  169850000.0 -0.0355
2022-05-06  411.34  411.18  414.75  405.73  151770000.0 -0.0060

[87 rows x 6 columns]

In [21]:
# 데이터 요약
df.describe()

            Close        Open        High         Low        Volume     Change
count   87.000000   87.000000   87.000000   87.000000  8.700000e+01  87.000000
mean   441.888736  442.312644  445.989195  437.644713  1.106406e+08  -0.001548
std     15.768266   15.848506   14.701753   16.498911  3.596905e+07   0.014604
min    411.340000  411.020000  414.750000  405.020000  5.792000e+07  -0.037000
25%    430.610000  431.960000  436.425000  425.650000  8.442500e+07  -0.012350
50%    441.950000  443.550000  446.280000  437.840000  1.037000e+08  -0.001200
75%    451.335000  451.700000  454.770000  447.815000  1.307800e+08   0.008000
max    477.710000  479.220000  479.980000  475.580000  2.504500e+08   0.030500

In [22]:
# 데이터 가공
price_df = df.loc[:,['Close']].copy() # 원본은 유지하는 것이 좋다!
price_df.head()

             Close
Date
2022-01-03  477.71
2022-01-04  477.55
2022-01-05  468.38
2022-01-06  467.94
2022-01-07  466.09

In [23]:
# # 컬럼을 인덱스로
# price_df.set_index(['Date'], inplace=True)
# price_df

In [24]:
# 볼린저 밴드 만들기
price_df['center'] = price_df['Close'].rolling(window=20).mean()
price_df.iloc[18:25]

             Close    center
Date
2022-01-28  441.95       NaN
2022-01-31  449.91  455.8480
2022-02-01  452.95  454.6100
2022-02-02  457.35  453.6000
2022-02-03  446.60  452.5110
2022-02-04  448.70  451.5490
2022-02-07  447.26  450.6075

In [25]:
# 상단 밴드, 하단 밴드
price_df['ub'] = price_df['center'] + 2 * price_df['Close'].rolling(window=20).std()
price_df['lb'] = price_df['center'] - 2 * price_df['Close'].rolling(window=20).std()
price_df.iloc[18:25]

             Close    center          ub          lb
Date
2022-01-28  441.95       NaN         NaN         NaN
2022-01-31  449.91  455.8480  486.624914  425.071086
2022-02-01  452.95  454.6100  483.625734  425.594266
2022-02-02  457.35  453.6000  480.589074  426.610926
2022-02-03  446.60  452.5110  478.735862  426.286138
2022-02-04  448.70  451.5490  476.783654  426.314346
2022-02-07  447.26  450.6075  474.947064  426.267936

In [26]:
# 볼린저 밴드
n = 20
sigma = 2

def bollinger_band(price_df, n, sigma):
    bb = price_df.copy()
    bb['center'] = price_df['Close'].rolling(n).mean() # 중앙 이동 평균선
    bb['ub'] = bb['center'] + sigma * price_df['Close'].rolling(n).std() # 상단 밴드
    bb['lb'] = bb['center'] - sigma * price_df['Close'].rolling(n).std() # 하단 밴드
    
bollinger = bollinger_band(price_df, n, sigma)

In [27]:
base_date = '2022-01-04'
sample = bollinger.loc[base_date:]
sample.head()

AttributeError: 'NoneType' object has no attribute 'loc'